.state {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.connected {
    background-color: green;
}

.disconnected {
    background-color: red;
}